<div *ngIf="tasks?.length > 0;else noTasks">
  <button class="btn green btn-large" (click)="generatePDF()">Generar PDF <i [hidden]="!showSpinner" class="fa fa-spinner fa-pulse fa-fw"></i></button>
  <ul *ngFor="let task of tasks | groupBy" class="collection">
    <li id="{{ task.id }}" class="collection-item" (dblclick)="editTask($event, task)">
      {{ task.module }} - <strong>{{ task.title }}</strong> : {{ task.transcription }} 
      <a href="#{{ task.id }}" class="secondary-content">
        <i (click)="deleteTask($event, task)" class="fa fa-trash"></i>
        <i (click)="editTask($event, task)" class="fa fa-pencil"></i>
      </a>
      <div *ngIf="editState && taskToEdit.id === task.id">
        <form (ngSubmit)="updateTask(task)">
          <div class="row">
            <div class="input-field">
              <input 
                type="text" name="module"
                placeholder="Editar módulo" [(ngModel)]="task.module">
            </div>
            <div class="input-field">
              <input 
                type="text" name="title"
                placeholder="Editar palabra" [(ngModel)]="task.title">
            </div>
            <div class="input-field">
                <input 
                  type="text" name="transcription"
                  placeholder="Editar transcripción" [(ngModel)]="task.transcription">
              </div>
            <div class="input-field">
                <input 
                  type="text" name="definition"
                  placeholder="Edita descripción" [(ngModel)]="task.definition">
            </div>
            <div class="input-field">
                <input 
                  type="text" name="sentence"
                  placeholder="Edita oración" [(ngModel)]="task.sentence">
            </div>
            <div class="input-field">
                <div class="file-field input-field">
                    <div class="btn light-green btn-large">
                      <span>Imagen</span>
                      <input type="file" accept="image/*" (change)="changeListener($event)">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                    <img class="image-max-width" [hidden]="newImage" src="{{task.image}}" />
                    <img class="image-max-width" [hidden]="!newImage" src="{{newImage}}" />
                </div>
            </div>
            <input type="submit" class="btn" value="Actualizar palabra">
            <button class="btn red" (click)="deleteTask($event, task)">Eliminar palabra</button>
          </div>
        </form>
      </div>

    </li>
  </ul>
</div>

<ng-template #noTasks>
  <h5>No hay palabras para mostrar.</h5>
</ng-template>