<div class="card">
  <div class="card-content">
    <span class="card-title">Agregar nueva palabra</span>
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field">
          <input type="text" placeholder="Agregar palabra" [(ngModel)]="task.title" name="title">
          <label>Palabra</label>
        </div>
        <div class="input-field">
            <input type="text" placeholder="Agregar descripción" [(ngModel)]="task.transcription" name="transcription">
            <label>Transcripción</label>
        </div>
        <div class="input-field">
            <input type="text" placeholder="Agregar definición" [(ngModel)]="task.definition" name="definition">
            <label>Definición</label>
        </div>
        <div class="input-field">
            <input type="text" placeholder="Agregar oración" [(ngModel)]="task.sentence" name="sentence">
            <label>Oración</label>
        </div>
        <div class="input-field">
            <div class="file-field input-field">
                <div class="btn light-green btn-large">
                  <span>Insertar Imagen</span>
                  <input type="file" accept="image/*" (change)="changeListener($event);">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
                <img [hidden]="!task.image" src="{{task.image}}" class="image-max-width" />
            </div>
        </div>
      </div>
      <input type="submit" class="btn light-blue btn-large" value="Guardar Palabra">
    </form>
  </div>
</div>